@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.section-main{
    background-image: linear-gradient(to right, #4283EE 0%, #226BE2 100%);
    position: relative;
    overflow: hidden;
}

.section-main:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../img/banner-bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}




